html, body, #map {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}
body {
background-color: #FFF;
overflow: hidden;
font-family: "Trebuchet MS";
}


#sideBar {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 20px;
  z-index: 1000;
  padding-top:95px;
  margin-left:20px;
}

#text{
  height: 300px;
  width: 80%;
  
}